.page__footer {
  height: 103px;
  width: 100%;
  background: $casablanca;
  position: relative;
  width: 100%;
for_breakpoint(mobile)
}
.footer__home {
  left: 5em;
  position: relative;
  top: -19px;
for_breakpoint(mobile)
}
.footer__home:after {
  bottom: 100%;
  left: 50%;
  content: '';
  height: 0;
  width: 0;
  pointer-events: none;
  border-bottom: 126px solid $casablanca;
  border-width: 37px 130px;
  margin-left: -54px;
  position: absolute;
  top: -3px;
  border-left: 88px solid transparent;
  border-right: 88px solid transparent;
}
.footer__home .icon-house {
  position: absolute;
  top: 7px;
  z-index: 3;
  left: 24px;
  color: $saddle;
}
.footer__nav__links {
  margin-left: 17.6em;
  font-size: 0.8em;
  padding: 1em 0 4em;
  text-transform: uppercase;
  position: relative;
  top: 23px;
for_breakpoint(tablet)
for_breakpoint(mobile)
}
.footer__nav__links .internal__footer__links {
  margin-right: 0.8em;
  float: left;
  display: inline-block;
  position: absolute;
for_breakpoint(mobile)
}
.footer__nav__links .internal__footer__links:hover {
  font-weight: 800;
}
.footer__nav__links .internal__footer__links:hover .footer__icons:after {
  background: $saddle;
  content: '';
  height: 2px;
  top: 1.3em;
  left: 1.8em;
  position: absolute;
  width: 0.9em;
for_breakpoint(mobile)
}
.footer__nav__links .internal__footer__links:hover .footer__icons__story:after {
  left: 1.5em;
}
.footer__nav__links .internal__footer__links:hover .footer__icons__kaffe:after {
  left: 1.1em;
}
.footer__nav__copy .internal__footer__copy {
  display: inline-block;
  float: left;
for_breakpoint(mobile)
}
.footer__icons {
  font-family: Helvetica, sans-serif;
  color: $saddle;
  float: left;
  margin-left: 3px;
}
.footer__icons:hover {
  font-weight: 800;
}
.icon-item-footer {
  position: relative;
  float: left;
}
.footer__icons__products {
  padding-left: 4px;
  float: left;
}
.footer__nav__copy {
  font-size: 0.7em;
  top: 3.2em;
  position: absolute;
  right: 5em;
  color: $saddle;
for_breakpoint(tablet)
for_breakpoint(mobile)
}
.footer__nav__copy .footer__copy {
  color: $saddle;
  margin-right: 0.5em;
  text-decoration: underline;
}
.footer__nav__copy .footer__copy:hover {
  color: $black;
}
.active {
  font-weight: 800;
}
.active .footer__icons__story:after {
  background: $saddle;
  content: '';
  height: 2px;
  top: 1.3em;
  left: 1.5em;
  position: absolute;
  width: 0.9em;
for_breakpoint(mobile)
}
.shop__footer__link {
  padding-left: 20px;
  background: url("../img/cart.png") no-repeat #fcc24b;
  background-position: left 0px;
  background-size: 15.5px auto;
for_breakpoint(mobile)
}
.shop__footer__link .footer__icons__sustainability {
  padding-left: 6px;
}
.second__footer__link {
  left: 110px;
}
.third__footer__link {
  left: 214px;
}
.fourth__footer__link {
  left: 394px;
}
