//- -------------- SAMPLE ---------------- -//
//- -------------------------------------- -//

section.internal__gevalia__info.gevalia__initiative
    .panel__detail
        h1.header__gevalia #[span.block The #[span.black GEVALiA]] #[span.black Sustainability] Initiative

        .gevalia__detail__text
            p.gevalia__section__content At Gevalia, we know that every cup of our rich, never bitter coffee begins with a coffee farmer.  That’s why Gevalia has partnered with TechnoServe, a world leading not-for-profit that promotes business solutions to poverty in the developing world.  Our goal is to improve the quality of life for Honduran coffee farming communities.
            p.gevalia__section__content Honduras is the largest coffee producer in Central America and it is among the poorest countries in the Western Hemisphere; it is also one of the countries most negatively impacted by climate change, with more intense rain and longer dry spells, resulting in the damage and loss of food crops. Coffee farmers often endure hunger and hardship as they struggle to live off of modest coffee earnings from the annual harvest and the basic foods they produce. Despite efforts to stretch their resources until the next year, many farming families experience periods without sufficient food, often referred to as ‘thin months’.
            p.gevalia__section__content In partnership with TechnoServe, Gevalia is assisting Honduran coffee farming communities by delivering training and resources that will help farmers increase their income so they can better nourish their families for years to come.
            +basicLink("LEARN MORE ABOUT TechnoServe", "http://www.technoserve.org", "cta__section__gevalia", "newTab")

section.internal__gevalia__info.gevalia__program
    .program__gevalia__division
        .panel__detail
            h1.header__gevalia #[span.block The Gevalia Sustainability] #[span.block program is #[span.black supporting]] #[span.block #[span.black Honduran coffee]]  #[span.block #[span.black farming communities]] in three ways
    
    .education__gevalia__division
        .panel__detail
            h1.header__gevalia #[span.block COFFEE #[span.black FARMING]] #[span.black EDUCATION] 
            +basicImage("img/farmer-boy-education.png", "farmer Education Coffee", "subtitle__img")

            .gevalia__detail__text
                p.gevalia__section__content__large Helping coffee farmers #[span.black increase revenue through improved coffee farming & production methods] and #[span.black access to new & better markets]
                ul.gevalia__internal__list
                    li.gevalia__list__info Teaching farmers to run their coffee farms like a business, including recognizing and capitalizing on market opportunities to sell their beans at a higher price point 
                    li.gevalia__list__info Introducing low-cost crop-management technology and techniques to increase the quantity and improve the quality of the coffee they produce
                    li.gevalia__list__info Educating farmers on improved harvest and post-harvest handling practices to capture more value in the coffee supply chain
                
section.internal__gevalia__info.gevalia__assistance
    .gevalia__small__image
    
    .gevalia__info__division
        .panel__detail
            h1.header__gevalia #[span.block FOOD CROP] #[span.black ASSISTANCE]
            +basicImage("img/corn-crop-assistance.png", "Farmer Crop Assistance", "subtitle__img")
        
            .gevalia__detail__text
                p.gevalia__section__content__large Helping families #[span.black offset ‘thin months’ through the introduction of improved food crops and more efficient farming methods]
                ul.gevalia__internal__list
                    li.gevalia__list__info Introducing improved varieties of beans, a staple of the Honduran diet, that have a higher resistance to climate change impacts such as drought and flooding 
                    li.gevalia__list__info Teaching new planting and crop management practices to use land and other resources more efficiently
                    li.gevalia__list__info Helping farmers produce additional or higher-value crops that may be enjoyed for personal consumption or sold for supplemental income

section.internal__gevalia__info.gevalia__job
    .gevalia__small__image
    
    .gevalia__info__division
        .panel__detail
            h1.header__gevalia #[span.block NEW #[span.black JOB]] #[span.black CREATION] 
            +basicImage("img/job-creation.png", "New Job Creation", "subtitle__img")

            .gevalia__detail__text
                p.gevalia__section__content__large Offering #[span.black paid employment opportunities for local young people to become Community Trainers,] delivering #[span.black training & technical assistance to coffee farming families]
                ul.gevalia__internal__list
                    li.gevalia__list__info Providing Community Trainers, often coffee farmers themselves, hands-on education and support from TechnoServe agronomy experts 
                    li.gevalia__list__info Hiring trainers to deliver training sessions, demonstrations and assistance to farmers in their communities for a period of two and a half years
                    li.gevalia__list__info Opening the door to future employment opportunities for Community Trainers in commercial agronomy given their valuable, hands-on experience training farmers with best practices as well as teaching farmers to manage their farms as a holistic business
                
section.internal__gevalia__info.gevalia__experience
    .gevalia__small__image
    
    .gevalia__info__division__subfooter
        .panel__detail
            h1.header__gevalia #[span.block.black Continue] the #[span.black Experience]

        .gevalia__social__tools
            a(href="http://instagram.com/GevaliaKaffe" class="social-tools")
                span.icon-instagram.icon-item-social-gevalia
            a(href="https://www.facebook.com/GevaliaCoffee" class="social-tools")
                span.icon-facebook.icon-item-social-gevalia
            a(href="https://twitter.com/Gevalia" class="social-tools")
                span.icon-twitter.icon-item-social-gevalia