//- -------------- Footer ---------------- -//
//- -------------------------------------- -//

footer.page__footer
    a(href="#" class="footer__home")
        span.icon-house
    
    ul.footer__nav__links
        li.internal__footer__links.active.first__footer__link
            span.icon-house.icon-item-footer
            +basicLink("our story", "http://gevaliaexperience.com/#story", "footer__icons footer__icons__story", "newTab")
        li.internal__footer__links.second__footer__link
            span.icon-bean.icon-item-footer
            +basicLink("our kaffe", "http://gevaliaexperience.com/#kaffe", "footer__icons footer__icons__kaffe", "newTab")
        li.internal__footer__links.crown__footer__link.third__footer__link
            span.icon-crown.icon-item-footer
            +basicLink("Our New Products", "http://gevaliaexperience.com/#enjoy", "footer__icons footer__icons__products", "newTab")
        li.internal__footer__links.shop__footer__link.fourth__footer__link
            span.icon-shop.icon-item-footer
            +basicLink("Shop Gevalia", "http://www.gevalia.com", "footer__icons footer__icons__shop", "newTab")
            
    ul.footer__nav__copy
        li.internal__footer__copy
            +basicLink("Contact Us", "http://www.gevalia.com/on/demandware.store/Sites-Gevalia-Site/default/CustomerService-ContactUs", "footer__copy", "newTab")
        li.internal__footer__copy
            +basicLink("Terms & Conditions", "http://www.gevalia.com/Terms-Conditions/terms,default,pg.html", "footer__copy", "newTab")
        li.internal__footer__copy
            +basicLink("Privacy Policy", "http://www.gevalia.com/Privacy-Policy/privacy-policy,default,pg.html", "footer__copy", "newTab")
        li.internal__footer__copy © 2015
