/* GLOBAL VARIABLES */
/* COLOR VARIABLES */
/* GRAYSCALE COLORS */
/* CORPORATE COLORS */
/* FONTS */
/* BRAKEPOINTS */
/* FONTS FACE */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?2pouql");
  src: url("../fonts/icomoon.eot?2pouql#iefix") format('embedded-opentype'), url("../fonts/icomoon.ttf?2pouql") format('truetype'), url("../fonts/icomoon.woff?2pouql") format('woff'), url("../fonts/icomoon.svg?2pouql#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Light';
  src: url("../fonts/HelveticaNeue-Light.eot");
  src: url("../fonts/HelveticaNeue-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/HelveticaNeue-Light.woff") format('woff'), url("../fonts/HelveticaNeue-Light.ttf") format('truetype'), url("../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Bold';
  src: url("../fonts/HelveticaNeue-Bold.eot");
  src: url("../fonts/HelveticaNeue-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/HelveticaNeue-Bold.woff") format('woff'), url("../fonts/HelveticaNeue-Bold.ttf") format('truetype'), url("../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Regular';
  src: url("../fonts/HelveticaNeue.eot");
  src: url("../fonts/HelveticaNeue.eot?#iefix") format('embedded-opentype'), url("../fonts/HelveticaNeue.woff") format('woff'), url("../fonts/HelveticaNeue.ttf") format('truetype'), url("../fonts/HelveticaNeue.svg#HelveticaNeue") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* FONTS ICONS */
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 88, ../app/_modules/_variables.scss */
.icon-cup:before {
  content: "\e601";
}
/* line 91, ../app/_modules/_variables.scss */
.icon-heart:before {
  content: "\e602";
}
/* line 94, ../app/_modules/_variables.scss */
.icon-bean:before {
  content: "\e603";
}
/* line 97, ../app/_modules/_variables.scss */
.icon-beanArrow:before {
  content: "\e609";
}
/* line 100, ../app/_modules/_variables.scss */
.icon-house:before {
  content: "\e604";
}
/* line 103, ../app/_modules/_variables.scss */
.icon-crown:before {
  content: "\e605";
}
/* line 106, ../app/_modules/_variables.scss */
.icon-facebook:before {
  content: "\e606";
}
/* line 109, ../app/_modules/_variables.scss */
.icon-instagram:before {
  content: "\e607";
}
/* line 112, ../app/_modules/_variables.scss */
.icon-twitter:before {
  content: "\e608";
}
/* line 115, ../app/_modules/_variables.scss */
.icon-menu:before {
  content: "\e60a";
}
/* line 118, ../app/_modules/_variables.scss */
.icon-arrow:before {
  content: "\e600";
}
/* line 121, ../app/_modules/_variables.scss */
.icon-iced-coffee:before {
  content: "\e6011";
}
